<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="../dist/vue-editable.min.css">
    </head>
    <body>
            <div class="container">
                <div class="vue">
                    <h1>vue-editable</h1>
                    vue-editable is a component to manipulate data values in the view without the need to develop an edit dialog.
                    <h2>Basic example</h2>
                    <p>
                        Use <code>v-editable='property'</code> to enable editing. <code>property</code> is the property name in <code>$.data</code>, it can be an nested path (see Nested example)
                    </p>
                    <label v-editable="message">{{ message }}</label>
                    <h2>Example with additional attributes</h2>
                    <p>
                        Use <code>data-type='number'</code> to set the input type. Attributes with <code>data-</code> prefix will be forwarded to the input, e.g. 
                        <ul>
                            <li><code>min</code> -> <code>data-min</code></li>
                            <li><code>max</code> -> <code>data-max</code></li>
                            <li><code>name</code> -> <code>data-name</code></li>
                        </ul>
                    </p>
                    <label v-editable="number" data-type="number">{{ number }}</label>
                    <h2>Table</h2>
                    <p>
                        If you are using <code>v-for</code>, it is a little bit more complicated. You need to tell vue-editable the property you want to update and the index of the element itself.
                        You can do this with the attributes <code>data-property</code> and <code>data-index</code>.
                    </p>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Income</th>
                            <th>Car present?</th>
                        </tr>
                        <tr v-for="(value,key) in staff">
                            <td v-editable="staff" data-property="name" :data-index="key">{{ value.name }}</td>
                            <td v-editable="staff" data-property="income" :data-index="key">{{ value.income }}</td>
                            <td v-editable="staff" data-property="car" :data-index="key">{{ value.car }}</td>
                        </tr>
                    </table>
                    <p>
                        If you are just iterating plain arrays, just remove <code>data-property</code>. 
                    </p>
                    <table class="table table-striped">
                        <tr>
                            <th>Value</th>
                        </tr>
                        <tr v-for="(value,key) in table">
                            <td v-editable="table" :data-index="key" data-type="number" data-max="605">{{ value }}</td>
                        </tr>
                    </table>
                    <h2>Nested example</h2>
<pre>
{{
  JSON.stringify(nested)  
}}
</pre>
                    <p>
                        Use <code>v-editable="nested.obj.message"</code> to map the nested structure.
                    </p>
                    <label v-editable="nested.obj.message">{{ nested.obj.message }}</label>
                </div>
            </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
    <script src="../src/vue-editable.js"></script>
    <script src="app.js"></script>
</html>