.vue-editable-hidden{    
    display: table-caption;
}
.vue-editable-input{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    color:black;
}
.vue-editable-input-width{
    width: 14em;
}
.vue-editable-can-edit{
    cursor: text;
    color:#337ab7;
}